
@{
    ViewData["Title"] = "Message";
}
    <p style="text-align:center">@ViewBag.Message</p>
    <p style="text-align:center">
        <a asp-action="Index" class="btn btn-success btn-sm">Go Back to Students</a>
    </p>